# 1. BASE DE DONNÉES
# IDENTIFIANTS POSTGRESQL (Pour Docker)
POSTGRES_USER=""
POSTGRES_PASSWORD=""
POSTGRES_DB=""

# URL DE CONNEXION (Pour Prisma)
DATABASE_URL=""

# 2. NEXTAUTH (Authentification)
NEXTAUTH_URL=""
# Un secret généré aléatoirement pour chiffrer les sessions (Obligatoire)
# Tu peux générer une chaîne sécurisée avec la commande terminal : openssl rand -base64 32
NEXTAUTH_SECRET=""

# 3. DISCORD OAUTH (On remplira ça quand on créera l'application Discord)
DISCORD_CLIENT_ID=""
DISCORD_CLIENT_SECRET=""

NEXT_PUBLIC_DEFAULT_SEASON_QUEUE="Core BO1 - Set 13"